[Unit]
Description= Vision-Based Fire Detection System
After=network.target

[Service]
ExecStart=/path/to/your/startup.sh
Restart=always
User=username

[Install]
WantedBy=multi-user.target
